<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../components_Styles/articlelayout1.css">
    <title>Article Layout 1</title>
</head>
<body>
    <article role="doc-glossary" class="container">
        <div class="container-child">
            <img src="../images/icon-snappy-process.svg" alt="snappy">
            <h1>Snappy Process</h1>
            <p>
                Our application process can be completed in minutes, not hours. Don't get stuck filling in<br> tedious forms.
            </p>
        </div>
        <div class="container-child">
            <img src="../images/icon-affordable-prices.svg" alt="affordable prices">
            <h1>Affordable Prices</h1>
            <p>
                We dont't want you worrying about high monthly costs. Our price may be low, but we still offer the best coverage possible
            </p>
        </div>
        <div class="container-child">
            <img src="../images/icon-people-first.svg" alt="people first">
            <h1>People First</h1>
            <p>
                Our plans aren't full of conditions and clauses to prevent payouts. We make sure you are covered when you need it.
            </p>
        </div>
    </article>

    <section class="goback">
        <a href="../index.html">Go Back</a>
    </section>
    
</body>
</html>