<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../components_Styles/banner1.css">
    <title>Banner1</title>
</head>

<body>
    <section role="banner" class="container">

        <div class="container-child main">
            <h1>Bring everyone<br> together to build<br> better products.</h1>
            <p>
                Manage makes it simple for software teams<br> to plan day-to-day tasks while keeping the<br> larger team
                goals in view.
            </p>
            <a href="#">Get Started</a>
        </div>

        <div class="container-child">
            <img src="../images/illustration-intro.svg" alt="">
        </div>

    </section>

    <section class="goback">
        <a href="../index.html">
            <p>Go Back</p>
        </a>
    </section>

</body>

</html>