<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../components_Styles/banner2.css">
    <title>Banner2</title>
</head>

<body>
    <section role="banner" class="container">
        <div class="container-child main">
            <h1>A Simple Bookmark<br> Manager</h1>
            <p>
                A clean and simple interface to organize your favourite<br> websites. Open a new browser tab and see
                your sites load<br> instantly. Try it for free.
            </p>
            <div>
                <a href="#">Get it on Chrome</a>
                <a href="#">Get it on Firefox</a>
            </div>
        </div>
        <div class="container-child image">
            <img src="../images/illustration-hero -banner2.svg" alt="bookmark tablet">
        </div>
    </section>

    <section class="goback">
        <a href="../index.html">Go Back</a>
    </section>


</body>

</html>