<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../components_Styles/download1.css">
    <title>Download-Section 1</title>
</head>
<body>
    <section role="application" class="download">
        <div class="intro">
            <h1>Download the extension</h1>
            <p>
                We've got more browsers in the pipeline. Please do let us know if you've got a favourite you'd like us to prioritize.
            </p>
        </div>
        <div class="container">
            <div class="container-child chrome">
                <img src="../images/logo-chrome.svg" alt="chrome icon">
                <div>
                    <h2>Add to Chrome</h2>
                    <p>Minimum version 62</p>
                    <div class="dot">.  .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .</div>
                </div>
                <button type="submit">Add & Install Extension</button>
            </div>
            <div class="container-child firefox">
                <img src="../images/logo-Firefox.svg" alt="firefox icon">
                <div>
                    <h2>Add to Firefox</h2>
                    <p>Minimum version 55</p>
                    <div class="dot">.  .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .</div>
                </div>
                <button type="submit">Add & Install Extension</button>
            </div>
            <div class="container-child opera">
                <img src="../images/logo-opera.svg" alt="opera icon">
                <div>
                    <h2>Add to Opera</h2>
                    <p>Minimum version 46</p>
                    <div class="dot">.  .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .</div>
                </div>
                <button type="submit">Add & Install Extension</button>
            </div>
        </div>
    </section>

    <section class="goback">
        <a href="../index.html">Go Back</a>
    </section>

</body>
</html>