<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../components_Styles/footer1.css">
    <title>Footer1</title>
</head>
<body>
    <div>
        <footer>
            <div class="sub-footer">
                <p>35,000+ ALREADY JOINED</p>
                <h1>Stay up-to-date with what<br> we're doing</h1>
                <div class="footer-form">
                    <form action="">
                        <input type="email" name="email">
                        <button type="submit">Contact Us</button>
                    </form>
                </div>
            </div>
    
            <div class="main-footer">
                <div class="footer-child">
                    <h1>BOOKMARK</h1>
                </div>
                <div class="footer-child">
                    <nav>
                        <ul>
                            <li><a href="#">FEATURES</a></li>
                            <li><a href="#">PRICING</a></li>
                            <li><a href="#">CONTACT</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="footer-child icon">
                    <a href="#"><img src="../images/icon-facebook.svg" alt="facebook icon" class="facebook"></a>
                    <a href="#"><img src="../images/icon-twitter.svg" alt="twitter icon" class="twitter"></a>
                </div>
            </div>
        </footer>
    </div>

    <section class="goback">
        <a href="../index.html">Go Back</a>
    </section>

    
</body>
</html>