<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../components_Styles/footer2.css">
    <title>Footer2</title>
</head>
<body>
    <footer class="container">
        <div class="container-child">
            <h1>manage</h1>
            <ul>
                <li><a href="#"><img src="../images/footer2/icon-facebook.svg" alt="facebook icon"></a></li>
                <li><a href="#"><img src="../images/footer2/icon-youtube.svg" alt="youtube icon"></a></li>
                <li><a href="#"><img src="../images/footer2/icon-twitter.svg" alt="twitter icon"></a></li>
                <li><a href="#"><img src="../images/footer2/icon-pinterest.svg" alt="pinterest icon"></a></li>
                <li><a href="#"><img src="../images/footer2/icon-instagram.svg" alt="instagram icon"></a></li>
            </ul>
        </div>
        <div role="navigation" class="container-child">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </div>
        <div role="navigation" class="container-child">
            <ul>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Community</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="container-child">
            <form action="">
                <input type="email" name="email" id="emailid" placeholder="updates in your inbox.">
                <button type="submit">Go</button>
            </form>
            <p>Copyright 2020. All Rights Reserved</p>
        </div>
    </footer>
    
    <section class="goback">
        <a href="../index.html">Go Back</a>
    </section>

</body>
</html>