<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../components_Styles/login1.css">
    <title>Login UI</title>
</head>
<body>
    <section role="login" class="big-container">
        <div class="container-child form-container">
            <form action="">
                <a href="#" class="facebook"><img src="../images/themify_e741(0)_24.png"><span id="facebook-login">Log in with Facebook</span></a>
                <p>or</p>
                <label for="email" class="label label1">Email</label><br>
                <input type="email" name="email" id="email" placeholder="Enter your email" class="form-field"><br>
                <label for="password" class="label label2">Password</label><br>
                <input type="password" name="password" id="password" placeholder="Password" class="form-field"><br>
                <div class="remember-forget">
                    <div>
                        <input type="checkbox" name="remember" id="rememberMe" value="rememberMe">
                        <label for="rememberMe" class="remember">Remember me</label>
                    </div>
                    
                    <a href="#" class="forget">Forgot password?</a><br>
                </div>
                
                <a href="#" class="login">Log in</a>
                <p>
                    Don't have an account? <a href="#" class="signup">Sign up</a>
                </p>
            </form>
            
        </div>
        <div class="container-child">
            <div class="container">
                <div class="feature feature1">
                    <h1>Development</h1>
                    <p>
                        A modern and clean design system for developing fast and powerful web interfaces.
                    </p>
                </div>
                <div class="feature feature2">
                    <h1>Features</h1>
                    <p>
                        A modern and clean design system for developing fast and powerful web interfaces.
                    </p>
                </div>
                <div class="feature feature3">
                    <h1>Updates</h1>
                    <p>
                        A modern and clean design system for developing fast and powerful web interfaces.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="goback">
        <a href="../index.html">Go Back</a>
    </section>
</body>
</html>