<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar1 Component</title>
    <link rel="stylesheet" href="../components_Styles/navbar1.css">
</head>

<body>
    <div class="mobile-nav">
        <div>
            <h1>Bookmark</h1>
        </div>
        <div class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger"><div></div></div>
            <div class="menu">
              <div>
                <div>
                  <ul>
                    <li><a href="#">FEATURES</a></li>
                    <li><a href="#">PRICING</a></li>
                    <li><a href="#">CONTACT</a></li>
                    <li><a href="#" class="login">LOGIN</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
    </div>

    
    <header>

        <ul>
            <li class="menus menu1"><a href="#">BOOKMARK</a></li>
            <li class="menus menu2"><a href="#">FEATURES</a></li>
            <li class="menus menu3"><a href="#">PRICING</a></li>
            <li class="menus menu4"><a href="#">CONTACT</a></li>
            <li class="menus menu5"><a href="#">LOGIN</a></li>
        </ul>

    </header>



    <section class="goback">
        <a href="../index.html">Go Back</a>
    </section>

</body>

</html>