<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../components_Styles/navbar2.css">
    <title>Document</title>
</head>
<body>
    <div class="mobile-nav">
        <h2>manage</h2>
        <div class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger"><div></div></div>
            <div class="menu">
              <div>
                <div>
                  <ul>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Product</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Community</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
    </div>
    
    <header role="navigation" class="container">
        <div class="container-child">
            <h2>manage</h2>
        </div>
        <div class="container-child list">
            <ul>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Product</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Community</a></li>
            </ul>
        </div>
        <div class="container-child signup">
            <a href="#">Get Started</a>
        </div>
    </header>

    <section class="goback">
        <a href="../index.html">Go Back</a>
    </section>
    
</body>
</html>