<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar1 Component</title>
    <link rel="stylesheet" href="../components_Styles/navbar1.css">
</head>

<body>
    <header>

        <ul>
            <li class="menu menu1"><a href="#">BOOKMARK</a></li>
            <li class="menu menu2"><a href="#">FEATURES</a></li>
            <li class="menu menu3"><a href="#">PRICING</a></li>
            <li class="menu menu4"><a href="#">CONTACT</a></li>
            <li class="menu menu5"><a href="#">LOGIN</a></li>
        </ul>

    </header>

    <section class="goback">
        <a href="../index.html">
            <p>Go Back</p>
        </a>
    </section>
</body>

</html>