<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../components_Styles/signup1.css">
    <title>SignUp UI</title>
</head>
<body>
    <section class="big-container">
        <div class="boardme">   
            <h1>boardme</h1>
            <h2>Implement user boarding experiences with just a few clicks</h2>
            <p>
                Guide your customers on a fantastic journey within your web app.
            </p>
        </div>
        <div class="signup">
            <h1>Create your account</h1>
            <form action="#">
                <label for="name"  class="name">Name</label><br>
                <input type="text" name="name" id="name"><br>
                <label for="email">Email</label><br>
                <input type="email" name="email" id="email"><br>
                <label for="password">Password</label><br>
                <input type="password" name="password" id="password"><br>
                <button type="submit" type="">Sign Up</button><br>
                
                <p>Having trouble? <a href="#">Get help</a></p>
            </form>
        </div>
    </section>

    <section class="goback">
        <a href="../index.html">Go Back</a>
    </section>
</body>
</html>