html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}

body {
    width: 100%; 
    margin-left: auto;
    margin-right: auto;
}

.big-container {
    background-color: hsl(0, 0%, 98%);
}

.container{
    width: 80%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.container img {
    width: 20%;
}

.container h1 {
    font-size: 1.2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 1.5em;
}

.container p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    font-weight: 500;
    color: hsl(233, 8%, 62%);
    word-spacing: 0.1em;
}

.goback a {
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: hsl(0, 94%, 66%);
    margin-top: 50px;
    width: 10%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border-radius: 5px;
    border: 1px solid transparent;
}

.goback a:hover{
    color: hsl(0, 94%, 66%);
    background-color: #fff;
    border-color: hsl(0, 94%, 66%);
}

@media (max-width: 360px) {
    body {
        /* background-color: green; */
    }
    .container{
        width: 90%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 100%;
    }
    .container img {
        width: 20%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .container h1 {
        /* margin-top: 0; */
        text-align: center;
        font-weight: 400;
    }
    .container p {
        text-align: center;
        font-weight: 400;
    }
}
@media (min-width: 361px) and (max-width: 600px){
    body {
        /* background-color: blue; */
    }
    .container{
        width: 90%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 100%;
    }
    .container img {
        width: 20%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .container h1 {
        /* margin-top: 0; */
        text-align: center;
        font-weight: 500;
    }
    .container p {
        text-align: center;
        font-weight: 300;
        font-size: 1em;
    }
}

@media (min-width: 601px) and (max-width: 824px) {
    body {
        /* background-color: red; */
    }
    .container{
        width: 80%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 100%;
    }
    .container img {
        width: 20%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .container h1 {
        /* margin-top: 0; */
        text-align: center;
        font-weight: 500;
        font-size: 1.8em;
    }
    .container p {
        text-align: center;
        font-weight: 400;
        font-size: 1.2em;
    }
}

@media (min-width: 825px) and (max-width: 1110px) {
    body {
        /* background-color: yellow; */
    }
    .container{
        width: 90%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        column-gap: 0.4em;
    }
    .container h1 {
        margin-top: 0.5em;
    }
    .container p {
        margin-top: -0.3em;
    }
}
@media (min-width: 1111px) and (max-width: 3000px) {
    body {
        /* background-color: fuchsia; */
        max-width: 1440px;
        margin: 0 auto;
    }
    .container{
        width: 80%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        column-gap: 0.2em;
    }
    .container h1 {
        margin-top: 0.5em;
    }
    .container p {
        margin-top: -0.2em;
    }
}