html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sub-footer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: hsl(231, 69%, 60%);
    height: 280px;
}

.sub-footer p {
    margin-top: 0;
    padding: 50px 0 10px 0;
    color: #fff;
    font-weight: 500;
    font-size: 0.6em;
    letter-spacing: 0.3em;
}

.sub-footer h1 {
    color: #fff;
    margin-top: 0;
    font-weight: 500;
}

form input {
    width: 23%;
    height: 40px;
    position: relative;
    right: 20px;
    border-radius: 4px;
    border: none;
}

form button {
    height: 40px;
    border-radius: 4px;
    border: none;
    width: 8%;
    background-color: hsl(0, 94%, 66%);
    color: #fff;
    font-size: 0.7em;
    font-weight: bold;
    position: relative;
    right: 10px;
}

form button:hover {
    color: hsl(0, 94%, 66%);
    background-color: #fff;
    border: 1px solid hsl(0, 94%, 66%);
}

.main-footer {
    background-color: hsl(229, 31%, 21%);
    display: flex;
    justify-content: space-evenly;
    height: 4em;
}

.main-footer > div:nth-child(1){
    width: 20%;
}
.main-footer > div:nth-child(2){
    width: 60%;
}
.main-footer > div:nth-child(3){
    width: 20%;
}

.footer-child h1 {
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    margin-top: 15px;
    margin-left: 50px;
}

.footer-child li {
    display: inline-block;
    margin-right: 2em;
}

.footer-child li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.7em;
    letter-spacing: 0.1em;
}

.footer-child li a:hover {
    color: hsl(0, 94%, 66%);
}

.icon img{
    position: relative;
    top: 18px;
    left: 30px;
    width: 8%;
}
.icon img:nth-child(1) {
    margin-right: 25px;
}

.icon .facebook:hover {
    content: url(../images/icon-facebook-hover.svg);
}

.icon .twitter:hover {
    content: url(../images/icon-twitter-hover.svg);
}


.goback a {
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: hsl(0, 94%, 66%);
    margin-top: 50px;
    width: 10%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border-radius: 5px;
    border: 1px solid transparent;
}

.goback a:hover{
    color: hsl(0, 94%, 66%);
    background-color: #fff;
    border-color: hsl(0, 94%, 66%);
}



/* MEDIA QUERIES */

@media (min-width: 200px) and (max-width: 500px) {
    .sub-footer {
        min-height: 340px;
    }
    .sub-footer p {
        font-weight: 400;
        font-size: 0.8em;
    }
    .sub-footer h1 {
        color: #fff;
        margin-top: 0;
        font-weight: 400;
        margin-left: 2%;
        margin-right: 2%;
    }
    form input {
        display: inline-flex;
        width: 80%;
        margin-left: 9%;
        margin-right: auto;
        padding-left: 1em;
    }
    
    form button {
        display: block;
        width: 80%;
        margin-left: 12%;
        margin-right: auto;
        margin-top: 1em;
        margin-bottom: 2em;
    }
    .main-footer {
        flex-wrap: wrap;
        justify-content: center;
        min-height: 250px;
    }
    .main-footer > div:nth-child(1){
        width: 100%;
    }
    .main-footer > div:nth-child(2){
        width: 100%;
    }
    .main-footer > div:nth-child(3){
        width: 100%;
    }
    
    .footer-child h1 {
        font-size: 1.2em;
        font-weight: 600;
        text-align: center;
        margin-top: 1.7em;
        margin-left: 0;
    }
    
    .footer-child li {
        display: flex;
        justify-content: center;
        margin-bottom: 1.3em;
    }
    
    .footer-child li a {
        font-size: 0.9em;
    }
    
    .icon img{
        position: relative;
        top: 0px;
        left: 40%;
        width: 8%;
    }
}
@media (min-width: 501px) and (max-width: 592px){
    form button {
        position: relative;
        bottom: 0.4em;
    }
    
}


@media (min-width: 501px) and (max-width: 768px){
    .sub-footer p {
        font-size: 0.9em;
    }
    form input {
        width: 30%;
        padding-left: 1em;
    }
    form button {
        width: 12%;
    }
    .footer-child h1 {
        font-size: 1.3em;
        font-weight: 600;
        text-align: center;
    }
    
    .footer-child ul {
        margin-left: 2.5em;
    }
    
    .footer-child li a {
        font-size: 0.5em;
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    form button {
        width: 10%;
    }
    .footer-child ul {
        margin-left: 6em;
        margin-top: 1.2em;
    }
}

@media (min-width: 1025px) and (max-width: 3000px) {
    body {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
    form button {
        width: 10%;
    }
    .footer-child ul {
        margin-left: 10em;
        margin-top: 1.2em;
    }
}