<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Components</title>
</head>

<body>
    <header>
        <h1>Components</h1>
    </header>

    <!-- ----------------------------------------------------------------------------------------------------------------------- -->
    <section class="component">
        <div class="cards">

            <article class="card">
                <header>
                    <h2>Navbar1</h2>
                </header>
                <a href="images/navbar1.PNG"><img src="images/navbar1.PNG" alt="navbar1"></a>
                <div class="content">
                    <p> This is a menu navigation gotten from bookmark landing page (frontendmentor) </p>
                </div>
                <footer><a href="components/navbar1.html">Click to see live demo</a></footer>
            </article>

            <article class="card">
                <header>
                    <h2>Navbar2</h2>
                </header>
                <a href="images/navbar2.PNG"><img src="images/navbar2.PNG" alt="navbar2"></a>
                <div class="content">
                    <p> This is a menu navigation gotten from manage landing page (frontendmentor) </p>
                </div>
                <footer><a href="components/navbar2.html">Click to see live demo</a></footer>
            </article>

            <article class="card">
                <header>
                    <h2>Banner1</h2>
                </header>
                <a href="images/banner1.PNG"><img src="images/banner1.PNG" alt="banner1"></a>
                <div class="content">
                    <p> This is a banner gotten from manage landing page (frontendmentor) </p>
                </div>
                <footer><a href="components/banner1.html">Click to see live demo</a></footer>
            </article>

            <article class="card">
                <header>
                    <h2>Banner2</h2>
                </header>
                <a href="images/banner2.PNG"><img src="images/banner2.PNG" alt="banner2"></a>
                <div class="content">
                    <p> This is the main banner gotten from manage landing page (frontendmentor) </p>
                </div>
                <footer><a href="components/banner2.html">Click to see live demo</a></footer>
            </article>

            <article class="card">
                <header>
                    <h2>Footer1</h2>
                </header>
                <a href="images/footer1.PNG"><img src="images/footer1.PNG" alt="footer1"></a>
                <div class="content">
                    <p> This is the footer section gotten from bookmark landing page (frontendmentor) </p>
                </div>
                <footer><a href="components/footer1.html">Click to see live demo</a></footer>
            </article>

            <article class="card">
                <header>
                    <h2>Footer2</h2>
                </header>
                <a href="images/footer2.PNG"><img src="images/footer2.PNG" alt="footer2"></a>
                <div class="content">
                    <p> This is the footer section gotten from manage landing page (frontendmentor) </p>
                </div>
                <footer><a href="components/footer2.html">Click to see live demo</a></footer>
            </article>
            <article class="card">
                <header>
                    <h2>Download1</h2>
                </header>
                <a href="images/download1.PNG"><img src="images/download1.png" alt="download-section 1"></a>
                <div class="content">
                    <p> This is the the download extension section gotten from bookmark landing page (frontendmentor) </p>
                </div>
                <footer><a href="components/download1.html">Click to see live demo</a></footer>
            </article>

            <article class="card">
                <header>
                    <h2>ArticleLayout1</h2>
                </header>
                <a href="images/articlelayout1.png"><img src="images/articlelayout1.png" alt="article_layout 1"></a>
                <div class="content">
                    <p> This is the the article section gotten from insure landing page (frontendmentor) </p>
                </div>
                <footer><a href="components/articlelayout1.html">Click to see live demo</a></footer>
            </article>

            <article class="card">
                <header>
                    <h2>Feature1</h2>
                </header>
                <a href="images/feature1.png"><img src="images/feature1.png" alt="feature 1"></a>
                <div class="content">
                    <p> This is the the feature section gotten from easybank landing page (frontendmentor) </p>
                </div>
                <footer><a href="components/feature1.html">Click to see live demo</a></footer>
            </article>
        </div>
    </section>



</body>

</html>