<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Components</title>
</head>
<body>
    <header>
        <h1>Components</h1>
    </header>
        
    <section id="components">
        <ul>
            <li><a href="components/navbar1.html">Navbar1</a></li>
            <li>2</li>
            <li>3<i>
            <li>4</li>
            <li>5</li>
        </ul>
    </section>
    
</body>
</html>