body {
    /* background-color: blueviolet; */
}

/*          MEDIA QUERIES            */
/* 
@media screen and (max-width: 598px) {
    body {
        background-color: cyan;
    }
}

@media screen and (min-width: 600px) {
    body {
        background-color: green;
    }
}

@media screen and (min-width: 768px) {
    body {
        background-color: yellow;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-color: red;
    }
}

@media screen and (min-width: 1200px) {
    body {
        background-color: blue
    }
} */
@media (min-width: 200px) and (max-width: 500px) {
    body {
        background-color: green;
    }
}
@media (min-width: 501px) and (max-width: 768px){
    body {
        background-color: blue;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    body {
        background-color: red;
    }
}

@media (min-width: 1025px) and (max-width: 1400px) {
    body {
        background-color: yellow;
    }
}